.home-login{
    margin:0 auto;
    margin-top: 10%;
}

.tabla-size{
    width: 100%;
}

.btn-float{
    position: fixed!important;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px!important;
    margin-bottom: 40px!important;
    z-index: 900;
}
