.home-login{
    margin:0 auto!important;
    margin-top: 10px!important;
}

body{
    background-color: #f2f2f2!important;
    overflow:hidden;

}

.mdl-cell {
    box-sizing: border-box;
    background-color: #BDBDBD;
    height: 200px;
    padding-left: 8px;
    padding-top: 4px;
    color: white;
}
.mdl-grid:first-of-type .mdl-cell {
    height: 50px;
}


a{
    text-decoration: none;
}

.btn-float{
    position: fixed!important;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px!important;
    margin-bottom: 40px!important;
    z-index: 900;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    width: 600px!important;
    background: url('../img/it_01.jpg') center / cover;
}

#error-block{
    color: red!important;
    font-size: 9px!important;
    text-align: center;
}
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background:
            url('../img/flats.png') bottom right 15% no-repeat #f50;
}


.devices-card.mdl-card {
    width: 320px;
    height: 320px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.devices-card > .mdl-card__title {
    color: #fff;
    background:
            url('../img/desktop.png') bottom right 15% no-repeat #00bcd4;
}

