.home-login{
    margin:0 auto;
    margin-top: 10%;
}


.btn-float{
    position: fixed!important;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px!important;
    margin-bottom: 40px!important;
    z-index: 900;
}


.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background:
            url('../img/flats.png') bottom right 15% no-repeat #f50;
}

